
#backend ignores
**/target/
nautilus_infra/verification-backend/venv
nautilus_infra/verification-backend/app/services/__pycache__
nautilus_infra/verification-backend/app/models/__pycache__
nautilus_infra/verification-backend/app/routers/__pycache__
nautilus_infra/verification-backend/app/database/__pycache__
nautilus_infra/verification-backend/__pycache__

# frontend ignores
frontend/node_modules/
frontend/.env
.env
**/.env/


# contract ignores
contracts/build



