
#backend ignores
**/target/
verification-backend/venv/
verification-backend/app/services/__pycache__/
verification-backend/app/models/__pycache__/
verification-backend/app/routers/__pycache__/
verification-backend/app/database/__pycache__/
verification-backend/__pycache__/

# frontend ignores
frontend/node_modules/
frontend/.env
.env
**/.env/


# contract ignores
contracts/build

# nautilus infra ignores
nautilus_infra/secrets.json



